/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body { font-size: 16px; margin: 0;
    background-color: #505050;
    font-family: Verdana, sans-serif;
}

/* LANDING PAGE */

/* Sets the background image and darkens the image for clarity */

.hero-image { height: 97vh; width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Login Section */

.login-container { top: 40%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); height: auto; width: 22rem;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    opacity: 1;
}
.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.login-button { width: 18rem; height: 2.5rem;
    background-color: rgba( 220, 220, 220, 0.9 );
    border: none;
    font-weight: bold;
    color: #505050;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 2rem;
    line-height: 2.5rem;
    cursor: pointer;
}
#create, #login, #emsubmit {
    background-color: rgba(  249, 132, 46 , 0.9 );
    color: rgba(255,255,255)
}
.login-button:hover {
    background-color: rgba( 200, 200, 200, 0.9 );
}
#create:hover, #login:hover, #emsubmit:hover {
    background-color: rgba(240, 108, 13, 0.9);
}
.tmh-logo { width: 20rem; height: 10rem;
    margin-bottom: 2rem;
    background-image: url("/static/img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20rem;
}
#owner { margin-top: 1rem; margin-bottom: 1rem; padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 0.8rem;
}
.contact-owner {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.fa-github {
    color: rgba(201, 81, 12, 1);
}
.fa-linkedin {
    color: rgba(64, 120, 192, 1);
}
.fa-github:hover {
    color: rgba(201, 81, 12, 0.8);
}
.fa-linkedin:hover {
    color: rgba(64, 120, 192, 0.8);
}
/* Menu Section */

.menu-container {
    position: relative;
    color: #505050;
}

.menu-item {
    position: absolute;
    left: -10px;
    bottom: 100%;
    background-color: #A8A8A8;
    padding: .75rem;
    border-radius: 0.5rem;
    box-shadow: 2px 0 15px 0 rgba(0,0,0,.1);
    opacity: 0;
    width: 25rem;
    height: 20rem;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
}
.menu-container.active > .icon-text + .menu-item {
    opacity: 0.9;
    pointer-events: auto;
}
.tmh-logo-sm {
    display: inline-block;
    width: 8rem; 
    height: 3rem;
    background-image: url("/static/img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8rem;
}
.website-desc {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.external-links {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 0.2rem;
}


/* registration */

.rgform {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.rginput { width: 18rem; height: 2.5rem;
    background-color: rgba( 255, 255, 255, 0.9 );
    border: none;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 2.5rem;
    outline: none;
    padding-left: 0.8rem;
}
::placeholder {
    font-style: italic;
}

/* Footer section, supports multi-items */

.footer-container { position: fixed; bottom: 0; width: 100%; height: 3vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
}
.footer-item { padding-left: 1rem;
    color: #A8A8A8;
    display: flex;
    align-items: center;
}
.icon-text {
    font-size: 0.8rem;
    line-height: 30px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #A8A8A8
}
.menu-container.active > .icon-text,
.icon-text:hover {
    color: rgb(255,255,255);
}
.icon-text > i {
    font-size: 0.8rem;
}
.footer-item>p {
    font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
    .icon-text {
        font-size: 0.7rem;
        line-height: 30px;
    }
    .footer-item>p {
        font-size: 0.7rem;
    }
}