.fa-github {
    color: rgba(201, 81, 12, 1);
}
.fa-linkedin {
    color: rgba(64, 120, 192, 1);
}
.fa-github:hover {
    color: rgba(201, 81, 12, 0.8);
}
.fa-linkedin:hover {
    color: rgba(64, 120, 192, 0.8);
}