{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- SCRIPT -->
<script src="/static/js/input.js" defer></script>

<!-- NAVIGATION -->

<body class="bg-dark">
    <nav class="navbar bg-primary text-white">
        <div class="container-xxl">
            <span class="navbar-brand">
                <!-- USER LOGGED IN -->
                {% if session['user_id'] %}
                Welcome, {{ session['username'] }}
                <!-- USER LOGGED OUT -->
                {% else %}
                The Mixing House
                {% endif %}
            </span>
            <span>
                <!-- USER LOGGED IN -->
                {% if session['user_id'] %}
                <a href="/logout" class="nav-link link-dark h6">Logout</a>
                <!-- USER LOGGED OUT -->
                <!-- USER REGISTER/LOGIN SECTION -->
                {% else %}
                <div class="dropdown container-xxl">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuClickableInside"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Login
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <div class="px-4 py-3 needs-validiation">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username1" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="Password">
                            </div>
                            <button type="submit" id="signin" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuClickableInside"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        New User
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <div class="px-4 py-3 needs-validiation">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username2" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="Password">
                            </div>
                            <button type="submit" id="create" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </span>
        </div>
    </nav>
    <main>
        <!-- TAB SELECTOR -->
        <div class="container-xxl g-0">
            <div class="btn-group btn-group-lg mt-5" role="group" aria-label="Navigation between Mixer and Your Bar">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Mixer</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Your Bar</label>
            </div>
        </div>
        <div class="container-xxl g-0 border border-primary text-white">
            <!-- USER LOGGED IN -->
            <!-- MIXER CONTENT -->
            {% if session['user_id'] %}
            <div class="container-xxl">
                <div class="row">
                    <div class="pt-3 col border-end border-primary">
                        <p class="h5 text-center">Liquor</p>
                    </div>
                    <div class="pt-3 col">
                        <p class="h5 text-center">Flavour Profile</p>
                    </div>
                </div>
                <div class="row border-bottom border-primary m-0">
                    <div class="col border-end border-primary">Vodka</div>
                    <div class="col">Fruity</div>
                </div>
                <div class="row">
                    <p class="h5 text-center pt-3">Cocktails</p>
                    <!--<div class="col">
                        <div class="card m-3" style="width: 18rem;">
                            <div class="card-body text-dark">
                                <h5 class="card-title">Manhatton</h5>
                                <p class="card-text"><strong>Liqour Primary: </strong>Whiskey</p>
                                <p class="card-text"><strong>Flavour: </strong>Bitter</p>
                                <a href="#" class="btn btn-primary">Recipe</a>
                            </div>
                        </div>
                    </div>-->
                    <script src="/static/js/tabs.js"></script>
                </div>
            </div>
        </div>
        <!-- USER LOGGED OUT -->
        {% else %}
        <p class="fs-1 fw-bold text-center p-5">Data not found, Please log in!</p>
        {% endif %}
    </main>
    <!-- FOOTER -->
    <footer class="container-fluid bg-primary text-white fixed-bottom">
        <div class="dropup container-xxl">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuClickableInside"
                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                About TMH
            </button>
            <div style="max-width: 400px;" class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="dropdownMenuClickableInside">
                <p class="px-3 pt-3"><strong>The Mixing House</strong> is a web app for the average home
                    bartender.
                    Input your current bar inventory and this app will let you know what you can create! </p>
                <div class="px-3">
                    <p><strong>Project Tech:</strong></p>
                    <p>HTML, CSS, Bootstrap, JavaScript, Python, Flask</p>
                </div>
                <div class="px-3">
                    <p><strong>Contact:</strong></p>
                    <a target="_blank" href="https://github.com/Dominicod"><i class="me-3 fab fa-github fa-lg"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"><i
                            class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>
    </footer>
</body>
{% endblock %}