{% extends 'layout.html' %}
{% block title %}Landing{% endblock %}
{% block body %}
<div class="hero-image" id="hero"></div>
<!-- Script to change the background image over time -->
<script src="static/js/landing.js"></script>
<div class="login-container">
    <span alt="TMH Logo" class="tmh-logo"></span>
    <div class="login-buttons">
        <a class="login-button" id="create" href="/register">Create an account</a>
        <a class="login-button" href="/login">Login</a>
    </div>
    <span id="owner">Created by Dominic O'Donnell</span>
    <div class="contact-owner">
        <a target="_blank" href="https://github.com/Dominicod"><i class="fab fa-github fa-lg"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"><i class="fab fa-linkedin fa-lg"></i></a>
    </div>
</div>
{% endblock body %}
