<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mixing House: {% block title %}{% endblock %}</title>
    <!-- https://favicon.io/emoji-favicons/tumbler-glass -->
    <link href="/static/img/favicon.ico" rel="icon">
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Link to FontAwesome -->
    <script src="https://kit.fontawesome.com/39359afa97.js" crossorigin="anonymous"></script>
</head>

<body>
    {% block body %}{% endblock %}
    <div class="footer-container">
        <div class="footer-item">
            <span class="icon-text">About TMH</span>
            <i class="fas fa-angle-down fa-sm"></i>
        </div>
    </div>
</body>
</html>